extends layout

block active
	- active = 'About';

append body
	.container
	.starter-template
		h1 About Me
		p.lead 
			| I'm currently spending a few months abroad in Brazil, with plans to return to Arizona and teach High School Mathematics and Computer Science in the Fall of 2018.
