extends layout

block active
	- active = 'About';

append body
	.container
	.starter-template
		h1 About Me
		p.lead 
			| I currently teach Computer Science / Software Development at <a href='https://www.phoenixunion.org/coding'> Phoenix Coding Academy</a><br>
			| I am also the Lead Mentor of our robotics team, <a href='https://www.pythonrobotics.org'> Python Robotics FRC 6833</a>
