extends layout

block active
	- active = 'About';

append body
	.container
	.starter-template
		h1 About Me
		p.lead 
			| I currently live in Tempe, AZ. I work as a FIRST AmeriCorps VISTA, creating capacity to expose all AZ youth to science and technology. My progress for the year can be found #[a(href='http://www.bradvoracek.com/projects/azfirst') here]. 
