extends layout

block active
	- active = 'Home';

append body
	.container
	.starter-template
		h1 Welcome.
		p.lead
			| I'm doing things with people at places.
			br
			br
			| I'm working on this site in order to share what I'm learning on my journey. Much like my life, it's constantly in progress. Check back often. But not too often. I only have so much time :)
			br
			br
			| This site is technically made possible thanks to godaddy, heroku, express, pug, bootstrap, and all the wonderful folks over the years who have worked hard on making free open source software and knowledge available for anyone with internet access. You are all so valuable in ways "the market" will never appreciate you for. As a human though, I appreciate it. Your work is invaluable. 
			br
			br
			| Beyond the technical parts, thanks to everyone who has been a part of my life. You have all taught me something. I would not be alive without my parents, as such my deepest debt is to them. Yet, I firmly believe we are all one human family. Because of that, I also wish to specifically thank the over 4 billion humans without internet access who may never get the chance to read this. I know your lives too are connected to mine. Much metta. 