extends ../node_modules/pug-bootstrap/_bootstrap
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	- var navitems;
	- var home = {'Home': '/', 'About':'/about', 'Meditation': '/meditation', 'Books':'/books', 'The Minskys': '/theminskys', 'Resources':'/resources', 'Projects':'/projects'};
	- var projects = {'Home': '/', 'Projects':'/projects', 'Marble Run': '/projects/marblerun', 'Garden':'/projects/garden', 'Loft Bed':'/projects/loftbed', 'Lancaster Labor':'/projects/lancasterlabor', 'AZ FIRST': '/projects/azfirst', 'Sectoral Balances': '/projects/sectoralbalances', 'Mentor Connection': '/projects/mentorconnect'};
	- var menus = {'Home': home, 'Projects': projects};
	- var submenu = 'Home';
	- var active = 'Home';
	block active
	- navitems = menus[submenu];
	+navbar-fixed("Brad Voracek","navbar","inverse")
		each val, key in navitems
			if key == active 
				+nav_item(val,"active") #{key}
			else
				+nav_item(val) #{key}