extends ../node_modules/pug-bootstrap/_bootstrap
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	- var navitems = {Home: '/', About:'/about', Meditation: '/meditation', Books:'/books'};
	- var active = 'Home';
	block active
	+navbar-fixed("Brad Voracek","navbar","inverse")
		each val, key in navitems
			if key == active 
				+nav_item(val,"active") #{key}
			else
				+nav_item(val) #{key}