extends layout

block active
	- active = 'Meditation';

append body
	.container
	.starter-template
		h1 Vipassana Meditation
		p.lead: a(href='https://www.dhamma.org') Learn how to Meditate
		p.lead Vipassana, which means to see things as they really are, is one of India's most ancient techniques of meditation. It was taught in India more than 2500 years ago as a universal remedy for universal ills, i.e., an Art of Living. 
		div(class="anchor" id="us_centers")
		h2 Centers in the US
		div(class="mapiframe")
			iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1ZQuA9Ji_1PanR_6KPrfZwlycOi8")
		p.lead Blue dots are official centers that hold regular courses. Green dots are cities where unofficial courses have been held on occasion. View schedules #[a(href='http://www.dhamma.org/en-US/locations/directory#US') here].
		h2 My Experiences
		p.lead I attended my first meditation course at the end of summer in 2012. Since then, I've sat two more 10 day courses, and served one course. Meditation is a powerful practice, feel free to ask me about it anytime. 
		h2 The Art of Living
		p.lead 
			| What is necessary, then, is to “know thyself”—advice which every wise person has given. We must know ourselves, not just intellectually in the realm of ideas and theories, and not just emotionally or devotionally, simply accepting blindly what we have heard or read. Such knowledge is not enough. Rather, we must know reality experientially. We must experience directly the reality of this mental-physical phenomenon. This alone is what will help us be free of our suffering.
		p.lead 
			| This direct experience of our own inner reality, this technique of self-observation, is what is called Vipassana meditation. In the language of India in the time of the Buddha, passana meant seeing in the ordinary way, with one's eyes open; but vipassana is observing things as they actually are, not just as they appear to be. Apparent truth has to be penetrated, until we reach the ultimate truth of the entire psycho-physical structure. When we experience this truth, then we learn to stop reacting blindly, to stop creating negativities—and naturally the old ones are gradually eradicated. We become liberated from misery and experience true happiness.
		p.lead 
			| There are three steps to the training given in a meditation course. First, one must abstain from any action, physical or vocal, which disturbs the peace and harmony of others. One cannot work to liberate oneself from impurities of the mind while at the same time continuing to perform deeds of body and speech which only multiply them. Therefore, a code of morality is the essential first step of the practice. One undertakes not to kill, not to steal, not to commit sexual misconduct, not to tell lies, and not to use intoxicants. By abstaining from such actions, one allows the mind to quiet down sufficiently in order to proceed further.
		p.lead 
			| The next step is to develop some mastery over this wild mind by training it to remain fixed on a single object, the breath. One tries to keep one's attention on the respiration for as long as possible. This is not a breathing exercise; one does not regulate the breath. Instead, one observes natural respiration as it is, as it comes in, as it goes out. In this way one further calms the mind so that it is no longer overpowered by intense negativities. At the same time, one is concentrating the mind, making it sharp and penetrating, capable of the work of insight.
		p.lead 
			| These first two steps, living a moral life, and controlling the mind, are very necessary and beneficial in themselves, but they will lead to suppression of negativities unless one takes the third step: purifying the mind of defilements by developing insight into one's own nature. This is Vipassana: experiencing one's own reality by the systematic and dispassionate observation within oneself of the ever-changing mind-matter phenomenon manifesting itself as sensations. This is the culmination of the teaching of the Buddha: self-purification by self-observation.
		p.lead 
			| It can be practiced by one and all. Everyone faces the problem of suffering. It is a universal malady which requires a universal remedy, not a sectarian one. When one suffers from anger, it's not Buddhist anger, Hindu anger, or Christian anger. Anger is anger. When one becomes agitated as a result of this anger, this agitation is not Christian, or Jewish, or Muslim. The malady is universal. The remedy must also be universal.
		p.lead 
			| Vipassana is such a remedy. No one will object to a code of living which respects the peace and harmony of others. No one will object to developing control over the mind. No one will object to developing insight into one's own nature, by which it is possible to free the mind of negativities. Vipassana is a universal path.
		p.lead 
			| Observing reality as it is by observing the truth inside—this is knowing oneself directly and experientially. As one practices, one keeps freeing oneself from the misery of mental impurities. From the gross, external, apparent truth, one penetrates to the ultimate truth of mind and matter. Then one transcends that, and experiences a truth which is beyond mind and matter, beyond time and space, beyond the conditioned field of relativity: the truth of total liberation from all defilements, all impurities, all suffering. Whatever name one gives this ultimate truth is irrelevant; it is the final goal of everyone.
		p.lead 
			| May you all experience this ultimate truth. May all people be free from misery. May they enjoy real peace, real harmony, real happiness.
		p.lead 
			| MAY ALL BEINGS BE HAPPY