extends layout

block active
	- submenu = 'Projects'
	- active = 'Projects';

append body
	.container
	.starter-template
		h1 What's cookin'?
		p.lead This is a collection of stuff I am working on, want to work on, and finished.
		h2 In Progress
		h3 FIRST VISTA
		p.lead I'm currently in Tempe, AZ, working as a FIRST VISTA.

		h2 Completed
		div(class='anchor' id='federal_debt')
		h3 Federal Debt Marble Run
		p.lead Colloquially dubbed "The Money Machine - Model SIM" after the model in Wynne Godley and Marc Lavoie's #[a(href='https://smile.amazon.com/Monetary-Economics-Integrated-Approach-Production/dp/0230301843') book], I made a 'sculpture' representating how the Federal Debt works, as I understand it. It's a simple concept but it's really misunderstood (as I wrote about in my first blog post!). For this sculpture, marbles represent money. There are two levers, spending and taxing. Spending puts marbles into the marble run (money into the economy), and taxing stores money back into the bucket (money out of the economy). The Federal Debt Counter keeps track of how many marbles are running around circles in some giant marble run I'd build. When it's 0, there's no money in the economy, and we're not doing any cool stuff (there's no marbles running around). This is why we would never want to entirely 'pay back' the whole federal debt. We couldn't do cool stuff. I'm gonna try to make a kickstarter to get funds to actually build a bigger scale one. Maybe I could get it in a museum?
		h3 Substitute Teaching / Robotics Mentor
		p.lead I was a substitute teacher at Lancaster School District for a whole week. It was tough. I wish we prioritized our public school system more to fund better paid teachers and smaller classes. As is, #[a(href='http://www.demos.org/search/node/public%20schools') it] #[a(href='http://equitablegrowth.org/?s=public+schools') kinda] #[a(href='http://www.epi.org/?s=public+schools') sucks]. One fun part about working at the schools is I spent the rest of my time mentoring FIRST Lego League and FIRST Robotics Competition teams. Youth learn a lot more when they are engaged. Sometimes the best place for engagement is not within the classroom. 
		h3 Employ Young Americans Now
		a(href='http://www.bloomberg.com/politics/articles/2015-06-04/bernie-sanders-let-s-spend-5-5-billion-to-employ-1-million-young-people'): img.img-container2(src='http://theminskys.org/wp-content/uploads/2016/09/14212114_10210003402663742_2076273988545782318_n.jpg')
		p.lead I analyzed #[a(href='http://www.sanders.senate.gov/download/060415-employamericansnowactbill?inline=file') this] bill proposed by Senator Bernie Sanders and Representative John Conyers that would create direct employment opportunities for young Americans for my master's thesis from the Levy Institute. I started by modeling the distribution of funds using ACS data to discover how many jobs would be created in each Public Use Microdata Area (PUMA), which I had experience doing thanks to Politify. This basically gave me 5 pages of analysis. I floundered for a while trying to set this analysis into a larger context (my thesis had to be 40 pages). Eventually I modeled the impact of different groups of young people receiving these jobs. I then set it in a larger policy debate context where labor economists love to tout the "returns to education". I argued the somewhat common sense argument (remember, we're dealing with economists) that these returns come from jobs, not the education. You can read a better summary on #[a(href='http://theminskys.org/employ-young-americans-now/') The Minskys], or the entire thing on my #[a(href='http://github.com/braddv/employamericansnow') github]. 

		h3 Politify
		a(href='http://news.berkeley.edu/2012/09/10/election-2012-new-app-springing-from-berkeley-lets-you-check-financial-impact-on-you-your-town-the-countrys-financial-effects/'): img.img-container2(src='https://pbs.twimg.com/profile_images/2064357795/politify_checkmark_400x400.png')
		p.lead Politify was a project I worked on with Nikita Bier and Jeremy Blalock in Summer of 2012, before Obama was elected for his second term. I wrote some crappy (unreadable, unmaintainable) python code that modeled the tax code changes proposed by Obama and Romney. People could then input their household characteristics and income sources and predict how much they would have to pay under each proposal. With the help of Dat Duong, we took an IRS dataset and applied the model to a large sample of households to see what tax collection in different zipcodes would look like. We found poorer households would be paying less (or gaining more) under Obama's plans (largely due to an expanded EITC), while Romney's "plans" had rich households paying much less. 



