extends layout

block active
	- active = 'Resources';

append body
	.container
	.starter-template
		h1 Economic Resources I Like
		div.row
			div.col-sm-6: a(href='http://evonomics.com'): img.img-container2(src='https://pbs.twimg.com/profile_images/767808727999246337/eDd4MsR7.jpg')
			div.col-sm-6: a(href='http://rooseveltinstitute.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/659559267117244417/_E0avvBb.jpg')
		div.row
			div.col-sm-6: a(href='http://civicskunkworks.com/'): img.img-container2(src='https://pbs.twimg.com/profile_images/590228167769526273/yv-fF5NF.png')
			div.col-sm-6: a(href='http://www.levyinstitute.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/473844362162368513/st56RLix.jpeg')
		div.row
			div.col-sm-6: a(href='http://www.binzagr-institute.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/513563044744404992/3TDxYUvr.png')
			div.col-sm-6: a(href=http:'//www.epi.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/713861008855535616/ziLcyTvN.jpg')
		div.row
			div.col-sm-6: a(href='http://www.theselc.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/731255480752869378/5H2K_izl.jpg')
			div.col-sm-6: a(href='http://cas.umkc.edu/economics/'): img.img-container2(src='https://pbs.twimg.com/profile_images/378800000143971866/92a92dd2c990154a281ad9be90813450.png')
		div.row
			div.col-sm-6: a(href='http://www.demos.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/615523850399391744/ziYMzIOb.png')
			div.col-sm-6: a(href='https://slowmoney.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/378800000284338232/2a0517f8d75e17f0d99355c288b48c71.png')
		div.row
			div.col-sm-6: a(href='http://equitablegrowth.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/693199498441592832/l_D0VkTK.jpg')
			div.col-sm-6: a(href='https://tcf.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/673724343650795520/8wYnRrJA.png')
		div.row
			div.col-sm-6: a(href='http://www.newschool.edu/'): img.img-container2(src='https://pbs.twimg.com/profile_images/778649884241133568/G2OvZvzA.jpg')
			div.col-sm-6: a(href='http://www.citizen.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/724671790308569089/2SFifiKS_400x400.jpg')
		div.row
			div.col-sm-6: a(href='http://democracyatwork.info'): img.img-container2(src='https://pbs.twimg.com/profile_images/663912714381729796/Kl7KG9m9.png')
			div.col-sm-6: a(href='http://www.umass.edu/economics/'): img.img-container2(src='https://pbs.twimg.com/profile_images/3082519527/da21ee3e61b2055ed9328b54146e0063.jpeg')
		div.row
			div.col-sm-6: a(href='http://www.rethinkeconomics.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/484054102662336512/zoO0UCeL.png')
			div.col-sm-6: a(href='https://www.propublica.org/'): img.img-container2(src='https://pbs.twimg.com/profile_images/660147326091182081/Q4TLW_Fe.jpg')


