extends layout

block active
	- active = 'The Minskys';

append body
	.container
	.starter-template
		h1 The Minskys
		p.lead
			| I write about economics.
			| You can checkout my posts #[a(href="http://www.theminskys.org/author/brad-voracek") here], or follow the images below to specific posts.
			br
			a(href='http://theminskys.org/bloated-bodies-starved-economies-two-harmful-misconceptions/'): img.img-container(src='http://theminskys.website/wp-content/uploads/2016/05/money-creation3.jpg')
			br
			a(href='http://theminskys.org/should-everyone-go-to-college/'): img.img-container(src='http://theminskys.org/wp-content/uploads/2016/07/13708380_10209674501161410_3611875036576826971_o.jpg')
			br
			a(href='http://theminskys.org/employ-young-americans-now/'): img.img-container-small(src='http://theminskys.org/wp-content/uploads/2016/09/14212114_10210003402663742_2076273988545782318_n-425x459.jpg')