body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 768px) {
  .starter-template {
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  padding-bottom: 10px;
}

.img-container {
  	max-width:680px;
    width: 70%;
}

.img-container-small {
  	max-width:480px;
    width: 50%;
}