body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
img {
  padding-bottom: 10px;
}

.img-container {
  	max-width:680px;
    width: 70%;
}

.img-container-small {
  	max-width:480px;
    width: 50%;
}