extends ../layout

block active
	- submenu = 'Projects';
	- active = 'Garden';

append body
	.container
	.starter-template
		h1 Garden
		p.lead Planted some kale and stuffs with my mom
		a(href='http://postimg.org/image/ohsx3qfsr/'): img.img-container(src='http://s17.postimg.org/oukb9wy2n/IMAG0453.jpg')
		p.lead started with a bucket
		a(href='http://postimg.org/image/3ngklwlff/'): img.img-container(src='http://s17.postimg.org/cv8t2lshr/IMAG0455.jpg')
		p.lead put some wheels on it cuz it'll be heavy
		a(href='http://postimg.org/image/5dzlne2yj/'): img.img-container(src='http://s17.postimg.org/3m6mshjlr/IMAG0454.jpg')
		p.lead filled the bottom with some rocks so we dont lose too much soils with waters leakin
		a(href='http://postimg.org/image/5tavgeovv/'): img.img-container(src='http://s17.postimg.org/9cwt67rlr/IMAG0456.jpg')
		p.lead then soil
		a(href='http://postimg.org/image/f2d1qixrv/'): img.img-container(src='http://s17.postimg.org/kqjchf24f/IMAG0457.jpg')
		p.lead some other soil
		a(href='http://postimg.org/image/xj7ghcdq3/'): img.img-container(src='http://s17.postimg.org/hkyqr7ji7/IMAG0458.jpg')
		p.lead mix mix mix
		a(href='http://postimg.org/image/4uuie4bjv/'): img.img-container(src='http://s17.postimg.org/dd3yigi2n/IMAG0459.jpg')
		p.lead water!! stuff of life! scary to use cuz drought!
		a(href='http://postimg.org/image/z0swswigr/'): img.img-container(src='http://s17.postimg.org/x8zxxzz3z/IMAG0460.jpg')
		p.lead cheated this time around and didnt use seeds because its late in the season, besides some radishes which grow super quick. to be continued. hopefully some can turn into seeds for the spring!