extends ../layout

block active
	- submenu = 'Projects';
	- active = 'Marble Run';

append body
	.container
	.starter-template
		h1 Federal Debt Marble Run
		p.lead A project I am working on in order to better explain the workings of the mystical 'Federal Debt'. Based on Wynne Godley and Marc Lavoie's book Monetary Economics, and their institutional understanding of the Federal Debt, this project is meant to convey the idea that if we were ever to entirely pay back the federal debt, there would be no money in the economy. Put another way, the way the accounting and balance sheets work is such that the public sector deficit is always equal to the private sector surplus.
		a(href='http://postimg.org/image/faueu5u4d/'): img.img-container(src='http://s14.postimg.org/k9hx8oxxd/marblerun3_1.png')
		p.lead This basic CAD drawing shows the two levers, spending and taxing. The Federal Debt Counter will be an LED keeping track of how many marbles are running around the system. An archimedes screw brings marbles that fall out or reach the end back up to storage. A release mechanism will let marbles out of the bucket one at a time.