extends ../layout

block active
	- submenu = 'Projects';
	- active = 'Marble Run';

append body
	.container
	.starter-template
		h1 Federal Debt Marble Run
		p.lead A project I am working on in order to better explain the workings of the mystical 'Federal Debt'. Based on Wynne Godley and Marc Lavoie's book Monetary Economics, and their institutional understanding of the Federal Debt, this project is meant to convey the idea that if we were ever to entirely pay back the federal debt, there would be no money in the economy. Put another way, the way the accounting and balance sheets work is such that the public sector deficit is always equal to the private sector surplus.
		h2 V0:
		div.mapiframe
			iframe(src="https://www.youtube.com/embed/GnAHKklDMpg")
		h2 Larger Scale Future: 
		a(href='http://postimg.org/image/faueu5u4d/'): img.img-container(src='http://s14.postimg.org/k9hx8oxxd/marblerun3_1.png')
		p.lead This basic CAD drawing shows the two levers, spending and taxing. The Federal Debt Counter will be an LED keeping track of how many marbles are running around the system. An archimedes screw brings marbles that fall out or reach the end back up to storage. A release mechanism will let marbles out of the bucket one at a time.
		h2 Prototype:
		div.mapiframe
			iframe(src="https://www.youtube.com/embed/pWEcVd7UpG8")
		h2 Taxation - The Archimedes Screw
		p.lead I plan on using an archimedes screw to bring back up the marbles from the ground level to the starting position. Something like this:
		div.mapiframe
			iframe(src="https://www.youtube.com/embed/dyCa4iHj0GY")
		p.lead Here is where physical limitations differ from some peoples interpretation that "we could print money forever". Because money today is just ones and zeros, technically we could. This doesn't mean we can stop taxing though. If taxation were to stop in the economy we would eventually see rampant inflation (which in this model manifests as marbles littered everywhere on the floor, and none to spend). The symbolism might not be ideal here, but this still allows me to pay back more of the debt by turning the screw faster. I plan to have such a large supply of marbles that we'd only "run out of money" to spend if we essentially stopped taxing. 
		h2 Spending - The Geneva Release
		p.lead In order to release marbles in a way I can count them, I think some mechanism like this would be ideal. have a marble loaded up, as it spins one goes out. Then I can increase/decrease the amount of spending (release of the marbles) in the economy (marble run). 
		a(href='https://en.wikipedia.org/wiki/Geneva_drive'): img.img-container(src='https://upload.wikimedia.org/wikipedia/commons/9/9b/Geneva_mechanism_6spoke_animation.gif')
		p.lead This model lends itself to the interpretation that spending happens before taxation, rather than a widespread belief that government has to tax before it can spend. 
