extends ../layout

append scripts
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="/javascripts/d3-tip.js")
	script(src="/javascripts/balances.js")

block active
	- submenu = 'Projects';
	- active = 'Sectoral Balances';

append body
	.container
	.starter-template
		h1 Balances Balance
		svg(class='bar' id='balancesintro')
		br
		svg(class='bar' id='balances')
		br
		br
		div.row 
			div.col-sm-6 Start Date
				br
				select(id="Start")
					//option(value="1960-01-01") 1960-01-01
					//option(value="1970-01-01") 1970-01-01
					//option(value="1980-01-01") 1980-01-01
					//option(value="1990-01-01") 1990-01-01
					option(value="2000-01-01" selected="selected") 2000-01-01
					//option(value="2010-01-01") 2010-01-01
					//option(value="2016-07-01") 2016-07-01	
			div.col-sm-6 End Date
				br
				select(id="End")
					option(value="2016-07-01") 2016-07-01
					//option(value="2010-01-01") 2010-01-01
					//option(value="2000-01-01") 2000-01-01
					//option(value="1990-01-01") 1990-01-01
					//option(value="1980-01-01") 1980-01-01
					//option(value="1970-01-01") 1970-01-01
					//option(value="1960-01-01") 1960-01-01


		br
		small Thanks to #[a(href='https://econoblog101.wordpress.com/2017/01/03/data-source-for-us-sectoral-balances-links-to-data-and-updated-graph/') Econoblog101] for easy links to pertinent FRED datasets